*{padding: 0; margin: 0;}

html {
    scroll-padding-top: 150px; /* height of sticky header */
}
body{
    /*background: powderblue;*/
    overflow-x: hidden;
}
h1{
    font-family: 'Rubik';
    font-size: 50px;
}
h1, h2, h4, h3{
    text-align: center;
}

.header{
    font-family: 'Rubik';
    background-color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    float: left;
    left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 0px;
    width: 150px;
}

.container {
    float:left;
    background:lightsteelblue;
    padding:138px 0px 0px;
    width:100%;
    font-family: 'Rubik';
    font-size: 17px !important;
}

.mySlides {
    width: 100%;
    /* height: 500px - removed to correct the home images correct size */
}

img{
    padding: 0px;
}
.navBar a img{padding:5px;}

.headerLine{
    background-color: rgb(0, 0, 102);
    padding: 15px 15%;
    font-family: 'Rubik';
    color: aliceblue;
}

.button {
    background-color: #fbfbfb;
    color: black;
    padding: 10px;
    text-align: left;
    align-items: stretch;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    font-family: 'Rubik';
    margin: 5px;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid black;
    width: 40%;
    /*min-width: 180px; removed not to set minimum width */
    height: 28px;
}

.button:hover, .button.active {
    background-color: rgb(255, 77, 77);
    color: #fbfbfb;
}

.button img { float:right;border: none;}

.navBar {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    margin-top:20px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #004085;
    color: black;
}

.footergrid-container {
    display: grid;
    grid-template-columns: 40% auto;
    background-color: rgb(0, 0, 102);
    padding: 10px;
    font-family: 'Rubik';
    color: white;
    font-size: 28px
}
.footergrid-item {
    background-color: rgb(0, 0, 102);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 30px;
    font-family: 'Rubik';
    color: white;
    font-size: 17px;
}

.mapspage ul, .mapspage p {
    background-color: rgb(0, 0, 102);
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 1em;
    list-style: inline;
    border-radius: 10px;
    font-weight: 400;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    width: 70%;
    margin-bottom: 10px;
}


/* unvisited link */
.footergrid-item a:link, .mapspage a:link {
    color: #FF8566;
}

.grid-item a:link {
    color: #A32100;
}

/* visited link info */
.grid-item a:visited {
    color: rgb(0, 0, 77);
}
/* visited link */
.footergrid-item a:visited, .mapspage a:visited {
    color: lightsteelblue;
}

/* mouse over link */
.grid-item a:hover, .footergrid-item a:hover, .mapspage a:hover {
    color: rgb(36, 143, 36);
}


li span.bold {
    font-weight: bold;
}

#team {
    width: 70%;
    margin: auto;
    margin-top: 25px;
    display: flex; flex-direction: row;
}

#team div {
    text-align: left;
    background-color: #000066;
    color: white;
    width: 45%;
    padding: 20px 20px;
    margin-right: auto;
    border-bottom: 8px solid rgb(255, 77, 77);
}

#about hr {
    height: 5px;
    background-color: aliceblue;
}

#about {
    width: 75%;
    padding: 20px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #000066;
    border-bottom: 8px solid rgb(255, 77, 77);
}

/* Copyright Statement */
.copyright{
    clear: both;
    overflow: auto;
    color: midnightblue;
    background-color: #fbfbfb;
    font-size: 16px;
    font-family: 'Rubik';
}
.CopyrightText{
    float: right;
    padding: 5px 10px;
}

/* Facts */

.quote{
    clear: both;
    overflow: auto;
    color: rgb(0, 0, 102);
    background-color: aliceblue;
    font-size: 30px;
    font-family: Parisienne;
}
.quoteText{
    text-align: center;
    padding: 20px;
}
a:focus, button:focus, a:focus img.logo{
    outline: 2px solid red;
}

button{
    font-family: 'Rubik';
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
    .navBar a img {
        display:none;
    }
     h1{
        font-size:30px;
        text-align:right !important;
        margin:23px 10px 10px 0px;
        font-weight:bold;
    }
    .w3-display-left, .w3-display-right{
        top:38%;
    }
}
@media (max-width: 800px) {
    .button {
        font-size:20px;
        margin:5px 5px 5px 5px;
        height: 30px;
        padding: 8px 10px;
    }
    h1{
        font-size:22px;
        text-align:right !important;
        margin:30px 10px 10px 0px;
        font-weight:bold;
    }
    .w3-display-left, .w3-display-right{
        top:30%;
    }
}

aside {
    background: rgb(255, 77, 77);
    padding: 10px 10px;
    border-radius: 3px;
    color: white;
    font-size: 18px;
}

textarea {
    width: 100%;
}
.pure-group, .thankyou_message{ font-size: 16px; }

.button-success {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(255, 77, 77);
    font-size: 18px;
    float: right;
    padding: 6px 6px;
}

#name, #email {
    width: 100%;
}
.honeypot-field {
    display: none;
}

