.displayinfo{
    width: 100%;
    background: aliceblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: lightsteelblue;
    padding: 17px;
}

.grid-item {
    background-color: aliceblue;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: left;
    font-family: Calibri;
}
.list-unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    float: left;
}
.grid-item p {
    min-width: 0;
    min-height: 0;
    color: #393939;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
}

.img{
    height: 200%;
    width: 200%;
}
.grid-item.card.img a:hover img {
}

.img:hover, .crop img:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}
.sort-button {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
}
.sort-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sort-row{
    background-color: white;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
}

.crop img{
    width: 300px;
    height: 300px;
}
